/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family:'Roboto-Light';
    src:url('../fonts/roboto/Roboto-Regular.ttf');
}

/* Sticky footer styles
-------------------------------------------------- */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Roboto-Light;
    background-color: #306fcd;
}

.todo-list{
    font-size: 22px;
    text-decoration:none;
    padding-top:2px;
    padding-bottom:2px;
}

.tasks-header {
    font-size: 30px;
    font-weight: 700;
}

.tasks-div {
    border-radius: 3px;
    height: 100px;
    background-color: #e5e4e5;
}

.task-item {
    color: #808080;
    font-size: 24px;
    text-decoration:none;
}
.task-item:hover {
    color: #3b3b3b;
    font-size: 25px;
}

.add-list {
    color: #ffffff;
    background-color: #306fcd;
}

.new-list-input {
    color:#ffffff;
    background-color: #306fcd !important;
    border:none;
    outline:none;
    padding:12px;
}
.new-list-input:focus {
    border-radius: 2px;
    border-bottom: 1px solid #e5e4e5;
}
.newlistinputlabel{
    padding:2px;
    cursor:pointer;
}
.newtaskinputlabel {
    font-size:28px;
    padding-left:5%;
    cursor: pointer;
}
.new-task-input {
    color: #002b39;
    border: none;
    outline: none;
    padding: 12px;
    font-size:20px
}

.new-task-input:focus {
        border-radius: 2px;
        border: 1px solid #3b3b3b;
}

.actionbtns {
    font-size:18px;
}
